.button-component {
  background-color: #6278F7;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
  padding: 32px;

  &:hover {
    color: #95FFD4;
  }
}